body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 45px;
  padding: 40px 80px;
  position: relative;
}
